<footer class="bg-light pb-4 mt-5">
    <div class="container ">
        <div class="row ">
            <div class="col-md-4">
                <h6 class="text-dark mt-3 " >Contact us</h6>
        <p class=" text-dark fs-6">
            hellosugarservices@gmail.com
        </p>
        <h6 class="text-dark mt-3 " >ON SOCIAL MEDIA</h6>
        <a href="https://www.instagram.com/hellosugar.io/"class="text-dark"><i class="fa-brands fa-instagram me-1"></i></a>
        <a href="https://twitter.com/OfficialKamingo"class="text-dark"><i class="fa-brands fa-twitter me-1"></i></a>
        <a href="https://in.linkedin.com/company/hellosugarservices?trk=public_post_feed-actor-name"class="text-dark"><i class="fa-brands fa-linkedin me-1"></i></a>
        <a href="" class="text-dark"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="col-md-4">
                <h6 class="text-dark mt-3" >Location</h6>
                <p class=" text-dark fs-6">
                    surendra palace, hosangabad 
                    Bhopal,
                    Madhya Pradesh,
                    India,

                
                
            </div>
            <div class="col-md-4 ">
                <h6 class="text-dark mt-3" >Menu</h6>
                <div class="d-grid">
                    <a class="text-dark text-decoration-none" style="" href="">login</a> 
                    <a class="text-dark text-decoration-none" href="">pricing</a> 
                    <a class="text-dark text-decoration-none" href="">features</a> 
                </div>
               
              
            </div>
        </div>
    </div>

    <div class=" container " style="text-align: left;">
        
    </div>
</footer>
