<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container ">
      
        <!-- <div class="container">
       
    
            <div class="text-center" style="margin: 5rem auto 5rem auto;">
    
                <img class="" style="width: 12rem;" src="/sugarface.png" alt=""
                    srcset="">
                <h1>SUGAR</h1>
                <h3 class="mb-3 text-uppercase text-light">WhatsApp Automation Tool</h3>
                <p class="text-white mb-5">Efficiently manage your WhatsApp
                    messages and automate your business communication</p>
                <a href="#features" class="btn btn-secondary">Features</a>
                <% if(!isAuthenticated) { %>
                                
                    <a class="btn btn-primary " aria-current="page" href="#pricing">Sign up</a>
                    <%} else {%>
                       
                      <a class="btn btn-primary" aria-current="page" href="#pricing">See Pricing</a>
                      <%}%>
            </div>
        </div> -->
        <div class="container my-5 d-block">
            <div class="row bg-light p-4 shadow" style="border-radius: 1rem;">
                <div class="col-md-6  mb-4">
                    <!-- <img class="" style="width: 8rem;" src="/sugarface.png" alt=""
                    srcset=""> -->
                <!-- <h1 >SUGAR</h1>
                <h3 class="mb-3 text-uppercase text-dark">WhatsApp Automation Tool</h3> -->
                    <h2 class="text-dark " style="font-size: 3rem; font-family: rubik , sans-serif;">
                       Leading Platform For
                    </h2> 
                    <h2 class="text-success" style="font-size: 2.5rem;" >
                        Conversational
                    </h2>
                    <h2 class="text-dark " style="font-size: 3rem; margin-bottom: 2rem; font-family: rubik , sans-serif;">
                        Messaging Platform For Commerce, Marketing And Support
                    </h2>
                    <h4 class="text-muted mb-5">

                        Explore how WhatsApp can drive your sales revenue this festive season
                        Drive up your brand's engagement and sales with WhatsApp's Quality Based Messaging 
                    </h4>
                    <a href="#features" class="btn btn-secondary me-3 mt-2">Features</a>
                    <% if(!isAuthenticated) { %>
                                    
                        <a class="btn btn-primary ms-0 mt-2" aria-current="page" href="#pricing">Sign up</a>
                        <%} else {%>
                           
                          <a class="btn btn-primary ms-0 mt-2" aria-current="page" href="#pricing">See Pricing</a>
                          <%}%>
                </div>

                <div class="col-md-6 " style="text-align:right ;" >
                    <img class="mt-4" src="phone.png"alt="" srcset="" style="width: 100%; max-width: 36rem;">
                </div>
            </div>
        </div>

        <div class="container my-5  d-block " id="pricing">
           
            <div class="row  p-4 justify-content-center bg-light " style="border-radius: 1rem;">
                <h2 class="text-center text-dark" style="margin-bottom: 2rem; font-family: rubik , sans-serif; ">PRICING </h2>
                <!-- <div class=" text-center m-3 ">
                    <p>Are you tired of feeling lost and overwhelmed when it comes to managing your website? 
                        Look no further! Our plans offer a variety of features to help you take control of your online 
                        presence, including customizable templates, easy-to-use analytics, and expert support. 
                        Don't miss out on the opportunity to improve your website and attract more customers. 
                        Invest in one of our plans today and see the difference for yourself!</p>
                </div> -->
                <div class="col-md-3 mt-4 mb-4 border border-dark bg-secondary mx-3 rounded p-3" style="max-width: 18rem; box-shadow: 5px 5px 13px currentColor;">
                    <h3 class="text-light" >Free</h3>
                    <hr>
                    <div class=" text-left m-3 ">
                        <i class="fa-solid fa-car-side" style="font-size: 5rem; color: aliceblue;"></i>
                    </div>
                    <ul class="list-unstyled mt-3 mb-4" style="color: aliceblue;">
                        <li>20 users included <i class="fa-solid fa-check"></i> </li>
                        <li>10 GB of storage <i class="fa-solid fa-check"></i></li>
                        <li>Priority email support <i class="fa-solid fa-check"></i></li>
                        <li>Help center access <i class="fa-solid fa-check"></i></li>
                      </ul>
                    <h5 class="text-light" >coming soon</h5>

                </div>
                <div class="col-md-3 mt-4 mb-4 border border-dark rounded p-3" style="max-width: 18rem; background-color: darkslateblue; box-shadow: 5px 5px 13px currentColor;">
                    <h3 class="text-light" >Basic</h3>
                    <hr>
                    <div class=" text-left m-3 ">
                        <i class="fa-sharp fa-solid fa-paper-plane"
                            style="font-size: 5rem; color: rgb(255, 255, 255); "></i>
                    </div>
                    <ul class="list-unstyled mt-3 mb-4" style="  color: rgb(255, 255, 255);">
                        <li>Limited chats <i class="fa-solid fa-check"></i> </li>
                        <li>Regular + Button messages <i class="fa-solid fa-check"></i></li>
                        <li>All media support <i class="fa-solid fa-check"></i></li>
                        <li>Message Templates <i class="fa-solid fa-check"></i></li>
                      </ul>
                      <% if(!isAuthenticated) { %>
                        
                        <a class="btn btn-primary " aria-current="page" href="/login">Sign up</a>
                        <%} else {%>
                           
                            <a class="btn btn-primary" aria-current="page"  href="/basic">Choose</a>
                      
                          <%}%>

                </div>
                <div class="col-md-3 mt-4 mb-4 border border-dark mx-4 shadow  rounded p-3" style="max-width: 18rem; outline: dashed ;
                outline-offset: 0.2rem;
                outline-color: rgb(0, 0, 0); background-color: gold; box-shadow: 5px 5px 13px currentColor;">
                    <h3 class="text-dark" >Pro</h3>
                    <hr>
                    <div class=" text-right m-3 ">
    
                        <i class="fa-sharp fa-solid fa-plane"
                            style="font-size: 5rem;  "></i>

                    </div>
                    <!-- <div class="" style="display: block ruby;">
                        <p class="text-muted text-decoration-line-through mb-0  " style="margin-right: 0.2rem;">₹699 </p>
                            <p class=" m-0 " style="font-size: 1.5rem; color: red;">save 50%</p>

                    </div>
                    <h5 class="card-title">₹399/month</h5> -->
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Unlimited Messages  <i class="fa-solid fa-check"></i> </li>
                        <li>All type of Messages <i class="fa-solid fa-check"></i></li>
                        <li>All media support + files <i class="fa-solid fa-check"></i></li>
                        <li>Some Whatsapp Tools <i class="fa-solid fa-check"></i></li>
                        <li>Special Admin Features <i class="fa-solid fa-check"></i></li>
                        <li>Help Center Access <i class="fa-solid fa-check"></i></li>
                      </ul>
                
    
                      <% if(!isAuthenticated) { %>
                        
                        <a class="btn btn-primary " aria-current="page" href="/login">Sign up</a>
                        <%} else {%>
                         
                          <a class="btn btn-primary" aria-current="page" href="/pro">Choose</a>
                          <%}%>

                </div>
                <div class="col-md-3 mt-4 mb-4 border border-dark  rounded p-3 " style="max-width: 18rem; background-color: black; box-shadow: 5px 5px 13px currentColor;">
                    <h3 class="text-light" >Enterprise</h3>
                    <hr class="text-light" >
                    <div class=" text-left m-3 ">
    
                        <i class="fa-sharp fa-solid fa-rocket "style="font-size: 5rem; color: gold;"></i>
                        <ul class="list-unstyled mt-3  mb-4 " style=" color: gold; ">
                            <li>Unlimited Messages <i class="fa-solid fa-check"></i> </li>
                            <li>All type of Messages <i class="fa-solid fa-check"></i></li>
                            <li>All media support + files <i class="fa-solid fa-check"></i></li>
                            <li>Special admin Features <i class="fa-solid fa-check"></i></li>
                            <li>Help center access <i class="fa-solid fa-check"></i></li>
                            <li>No Code Platform <i class="fa-solid fa-check"></i></li>
                            <li>Fully Customizable Bot <i class="fa-solid fa-check"></i></li>
                            <li>Many Whatsapp tools <i class="fa-solid fa-check"></i></li>
                            
                          </ul>
                          <% if(!isAuthenticated) { %>
                            
                            <a class="btn btn-primary " aria-current="page" href="/login">Sign up</a>
                            <%} else {%>
                              
                                <a class="btn btn-primary" aria-current="page" href="/enterprise">Choose</a>
                              
                              <%}%>

                    </div>
                </div>
             
               
            </div>
        </div>
    




        <div class="container  mb-5" id="features">

            <div class="bg-light p-4 pb-0" style="border-radius: 1rem;">
                <h2 class="text-center text-dark" style="margin-bottom: 2rem; font-family: rubik , sans-serif; ">FEATURES</h2>

            <div class="row  text-center">
                <div class="col-md-4 justify-content-center">
                    <div>

                    
                    <h5 class="text-dark mb-3" >Automate Conversations</h5>
                    <i class="fa-solid fa-infinity mb-3" style="font-size: 3rem; color: cornflowerblue;"></i>
                    <p class="text-dark" >Boost your WhatsApp marketing with messaging and business processes by automating conversations. </p>
                        <hr class="text-dark">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <h5 class="text-dark mb-3" >WhatsApp Business API
                    </h5>
                    <i class="fas fa-star mb-3" style="font-size: 3rem; color: gold;"></i>                    
                    <p class="text-dark" >Engage your clients on the most widely used messaging platform to grow your business. </p>
                        <hr class="text-dark">
                </div>
                <div class="col-md-4 mb-3">
                    <h5 class="text-dark mb-3" >24/7 Availability</h5>
                    <i class="fas fa-headset mb-3" style="font-size: 3rem; color: black;"></i>
                    <p class="text-dark" >Provide your customers with the best possible experience by offering 24/7 customer support.

                    
                    </p>
                        <hr class="text-dark">
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4 mb-3">
                    <h5 class="text-dark  mb-3" >Personal Server</h5>
                    <i class="fas fa-server mb-3" style="font-size: 3rem; color: coral;"></i>
                    <p class="text-dark ">Send personalized, data-driven messages that customers actually want, on the channel where they already are and increase sales. </p>
                    <hr class="text-dark " style="margin-top: 4rem;">
                </div>
                <div class="col-md-4 mb-3" >
                    <h5 class="text-dark mb-3" >Rich Media Support</h5>
                    <i class="fas fa-images mb-3" style="font-size: 3rem; color: cadetblue;"></i>
                    <p class="text-dark ">Interact and display various types of multimedia content, such as images, videos, and audio files, within the chat interface.</p>
                    <hr class="text-dark " style="margin-top: 4rem;">
                </div>
                <div class="col-md-4 mb-3">
                    <h5 class="text-dark mb-3" >Human Touch Chatbot Management</h5>
                    <i class="fas fa-user-cog mb-3" style="font-size: 3rem; color: darkslateblue;"></i>
                    <p class="text-dark ">Enhance your chatbot's performance and provide top-notch customer service by incorporating human touch management. Use human touch chatbot management to advance your customer service. </p>
                        <hr class="text-dark" style="margin-top: 2.5rem;">
                        
                    </div>
            </div>
        </div>
        </div>
    </div>
   
  <style>
        @media screen and (max-width: 600px) {
    div.tittle {
        font-size: 0.5rem;
    }
    }
  </style>
</body>
<%- include('partials/footer.ejs') %>
</html>




