<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    
    <div class="row align-items-center">
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
      </div>
 




    <script>
         var socket = io();

    socket.on('qr', function (msg) {
        console.log(msg);
    });
    </script>
</body>
</html>