<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>test</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Heading</h1>
            </div>
            <div class="col-md-4">
                <h1>Heading</h1>
            </div>
            <div class="col-md-4">
                <h1>Heading</h1>
            </div>
        </div>
    </div>
</body>

</html>