<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <% if(!isAuthenticated) { %>
                                
        <a class="btn btn-primary " aria-current="page" href="#pricing">Sign up</a>
    <%} else {%>
        <div class="container  ">
            
            <div class="  justify-content-center">
                
            
            <form class="bg-white p-4 rounded mt-3 shadow " style="width: inherit;" method="POST" >
                
                <h2 class="  " style="color: black;" ><%= plan %></h2>
                <hr>
                <div class="form-group mb-2 d-flex ">
                   
                  <input type="text" class="form-control me-2"  id="name" name="name" placeholder="Full Name">
                  <input type="tel" class="form-control"  id="number" name="number" placeholder="Number">
                </div>
              
                <div class="form-group mb-3">
                  
                    
                  </div>
                  <div class="form-group mb-3">
                  
                    <input type="email" class="form-control" id="mail" name="mail" placeholder="Business@gamil.com">
                  </div>
                  <div class="form-group mb-3">
                  
                    <input type="tel" class="form-control" id="city" name="city" placeholder="City">
                  </div>
                  <div class="form-group mb-3">
                  
                    <input type="tel" class="form-control"  id="business" name="business" placeholder="Business">
                  </div>
                  <div class="form-group mb-3 d-flex">
                   
                    <input type="tel" class="form-control  me-2" onchange="change()"  id="cupon" name="cupon"  style="text-transform:uppercase" placeholder="CODE">
                  
                    <button type="button" onclick="check()" class="btn btn-success m-0 ">Apply</button>
                    <i class="fa-solid fa-circle-check m-auto text-success ms-2 fs-2 d-none" id="icon" name="icon"></i>
                  </div>
                  <button type="submit" class="btn btn-primary m-0 ">Submit</button>
            

              </form>
            </div>

        </div>       
            
    
    
     <%}%>

     <script>
        var code = "FGS100"
        var input = document.getElementById("cupon").value
        function change() {
          input = document.getElementById("cupon").value
      
        }
        function check() {
           

          if ( input.toUpperCase() === code) {
            document.getElementById("cupon").classList.add("border-success");
            document.getElementById("cupon").classList.remove("border-danger");
            document.getElementById("icon").classList.remove("d-none");

          }
          else{

            document.getElementById("cupon").classList.add("border-danger");
            document.getElementById("cupon").classList.remove("border-success");
            document.getElementById("icon").classList.add("d-none");

          }
          
         
        }


     </script>

</body>
</html>